* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #1ebfc1;
    --primary-color-2: #2ac9bf;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Commom */
.btn {
    display: inline-block;
    min-width: 186px;
    line-height: 68px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    background: var(--primary-color);
}

.btn-white {
    display: inline-block;
    min-width: 108px;
    line-height: 48px;
    padding: 0 24px;
    text-align: center;
    border-radius: 6px;
    background: #fff;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 42px;
    line-height: 1.33;
}

.heading.lv3 {
    font-size: 22px;
}

.heading.lv4 {
    font-size: 20px;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-3 {
    line-clamp: 3;
}

.break-word {
    word-wrap: break-word;
}

/* Header */
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    padding: 12px 19.5px;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0px 0px currentColor;
}

.header .action {
    display: flex;
    width: 29%;
    gap: 2px;
}

.header .sign-in-btn {
    margin-left: auto;
    color: #494949;
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
}

.header .sign-in-btn:hover {
    border: 1px solid #494949;
    text-shadow: 1px 0 0 currentColor;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header .sign-up-btn {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease;
}

.header .sign-up-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}
