* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #1ebfc1;
    --primary-color-2: #2ac9bf;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Commom */
.btn {
    display: inline-block;
    min-width: 186px;
    line-height: 68px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}

.btn-white {
    display: inline-block;
    min-width: 108px;
    line-height: 48px;
    padding: 0 24px;
    text-align: center;
    border-radius: 6px;
    background: #fff;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.lv3 {
    font-size: 2.2rem;
    line-height: 1.5;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-3 {
    line-clamp: 3;
}

.break-word {
    word-wrap: break-word;
}

/* Header */
.header {
    padding: 36px 0 8px;
    background: #fff;
}

.header .body {
    display: flex;
    align-items: center;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    padding: 12px 19.5px;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0px 0px currentColor;
}

.header .action {
    display: flex;
    width: 29%;
    gap: 2px;
}

.header .sign-in-btn {
    margin-left: auto;
    color: #494949;
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
}

.header .sign-in-btn:hover {
    border: 1px solid #494949;
    text-shadow: 1px 0 0 currentColor;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header .sign-up-btn {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease;
}

.header .sign-up-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

/* Hero */
.hero {
    background: #fff;
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .content {
    width: 45%;
}

.hero .content .eyebrow-text {
    color: #767e7e;
    font-size: 1.4rem;
    margin-bottom: 18px;
}

.hero .content .desc {
    width: 71%;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78;
    margin: 46px 0 52px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero .cta-group .btn:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

.hero .cta-group .watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background: #fff;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero .media-block {
    position: relative;
    width: 55%;
}

.hero .media-block .image {
    display: block;
    width: 576px;
    height: 631px;
    object-fit: cover;
    margin-left: auto;
    background: #e0f7f6;
}

.hero .media-block .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .courses {
    position: absolute;
    top: 149px;
    left: 25px;
    display: inline-flex;
    gap: 16px;
    align-items: center;
    padding: 18px 25px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .courses .icon {
    position: relative;
    width: 36px;
    height: 40px;
    background: #ff8282;
    border-radius: 5px 2px 2px 5px;
}

.hero .courses .icon::before {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    content: "";
    width: 28px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
}

.hero .courses .info {
    min-width: 55px;
}

.hero .courses .label {
    margin-bottom: 3px;
}

.hero .schedules {
    position: absolute;
    bottom: 46px;
    left: 0;
    display: inline-block;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .schedules .title {
    text-align: center;
}

.hero .schedules .timeline {
    margin-top: 16px;
}

.hero .schedules .decor-bar,
.hero .schedules .timeline-bar {
    width: 100%;
    min-width: 74px;
    height: 6px;
    border-radius: 3px;
    background: #edf1f5;
    margin-bottom: 12px;
}

.hero .schedules .progress {
    height: 6px;
    border-radius: 3px;
    background: #fb9899;
}

.hero .timeline .timeline-bar:nth-child(1) .progress {
    width: 50%;
}

.hero .timeline .timeline-bar:nth-child(2) .progress {
    width: 70%;
}

.hero .timeline .timeline-bar:nth-child(3) .progress {
    width: 45%;
}

.hero .schedules .decor-bar {
    width: 35%;
    min-width: initial;
    margin: 16px auto 0;
}

.hero .list {
    position: absolute;
    bottom: 41px;
    right: 45px;
    display: inline-block;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .list .title {
    margin-bottom: 8px;
}

.hero .list .avatar-group {
    display: flex;
}

.hero .list .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -10px;
}

.hero .list .avatar:first-child {
    margin-left: 0;
}

.hero .list .more-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1ebfc1;
}

.hero .more-info .stats {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* Features */
.features {
    padding: 130px 0 65px;
}

.features .content {
    width: 50.5%;
    margin-bottom: 80px;
}

.features .content .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .content .heading {
    margin: 18px 0;
}

.features .content .desc {
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.4;
}

.features .list-features {
    display: flex;
}

.features .feature-item:nth-child(1) {
    width: 168px;
    margin-right: 210px;
}

.features .feature-item:nth-child(2) {
    width: 224px;
    margin-right: 200px;
}

.features .feature-item:nth-child(3) {
    width: 224px;
}

.features .feature-item .title {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 26px;
}

.features .feature-item .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69;
    margin-top: 16px;
}

/* Courses */
.courses-section {
    padding: 65px 0 189px;
}

.courses-section .content {
    margin-bottom: 79px;
}

.courses-section .content .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.courses-section .content .heading {
    margin: 18px 0;
}

.courses-section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-section .row .desc {
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78;
    width: 45%;
}

.courses-section .row .link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.courses-section .list-courses {
    display: flex;
    gap: 47px;
}

.courses-section .course-item {
    position: relative;
    width: 33.33%;
}

.courses-section .course-item::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
}

.courses-section .course-item .thumb {
    display: block;
    width: 100%;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
}

.courses-section .course-item .info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -124px;
    width: 325px;
    padding: 18px 25px 30px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.courses-section .course-item .info h3 {
    margin-bottom: 16px;
}

.courses-section .course-item .info .fee {
    color: #767e7e;
    font-size: 1.6rem;
    margin-bottom: 6px;
}

.courses-section .course-item .info .desc {
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 18px;
}

.courses-section .course-item .stats {
    display: flex;
    color: #9da6a5;
    font-size: 1.4rem;
}

.courses-section .course-item .stats span {
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin-right: 10px;
}

.courses-section .course-item .stats span::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 10px;
}

.stats-section {
    padding: 65px 0;
    margin-top: 135px;
    background: #fff;
}

.stats-section .body {
    display: flex;
    width: 73.7%;
    justify-content: space-between;
    margin: 0 auto;
}

.stats-section .qty-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-section .qty-item .qty-desc {
    color: #767e7e;
    font-size: 1.8rem;
    margin-top: 11px;
    line-height: 1.5;
}
